
body{
    
    margin: 0;
    padding: 0;
}

h1,h2{
    color: brown;
    text-align: center;
}
h1 {
    text-transform: uppercase;
}
p{
    text-align: justify;
    
}
.destaque{
    background-color: tomato;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}
#img-logo{
    width:50px;

}
nav li{
    display: inline;
    margin-left: 20px;
    color: red;
    font-weight: bold;
    border: 2px solid red;
    padding: 5px;

}
nav{
    float: right;   
}

main{
    margin: auto 20%;

}
footer{
    background-color: blue;
    color: white;
}